span.multiselect-native-select {
    display: block !important;
}
#service_area+div{
    width: 100%;
}
#service_area+div button{
    width: 100%;
    border: 1px solid #55555545;
    margin: 0;
    border-radius: inherit;
}
#service_area+div ul{
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
}
#service_area+div ul li a{
    color: black;
    background-color: white;
}
.add-button{
    border: 1px solid #55555545;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    padding: 5px 8px;
    background: #2d4059;
    color: white;
    cursor: pointer;
}
.is-top{
    display: block;
    width: 20%;
    background: #2d4059;
    padding: 6px 10px;
    color: white;
    font-size: 20px;
    border-radius: 6px;
}
.not-top{
    display: block;
    width: 20%;
    background: #2d4059;
    padding: 6px 12px;
    color: white;
    font-size: 20px;
    border-radius: 6px;
}
.delivery_label{
    padding-top: 15px;
}
.delivery-label-other{
    padding-top: 30px;
}

/*==================tooltip============*/
.mytooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.mytooltip .tooltiptext {
    visibility: hidden;
    width: 49px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: -5px;
    top: -33px;
}

.mytooltip:hover .tooltiptext {
    visibility: visible;
}
/*===========end==========*/

.card-header-custom{
    text-align: center;
    background-color: rgba(34,40,49,.8);
    color: white;
    border-radius: 6px 6px 0 0;
}

.card-header-custom p{
    padding: 10px 0;
    margin: 0;
}

.card-body-custom{
    text-align: center;
    border: 1px solid;
    border-radius: 0 0 6px 6px;
}
.card-body-custom p{
    padding: 5px 0 0 0;
}

.bg-seen td{
    background-color: greenyellow!important;
}

.button-for-popup{
    border: none;
}
span.select2.select2-container{
    width: 100%!important;
    margin-top: 10px;
}
.select2-results__options{
    width: 100% !important;
}

.type-label{
    font-size: 17px;
    margin-right: 10px;
}

.custom-select{
    margin-left: 10px;
    border: 1px solid;
    border-radius: 5px 5px;
    height: 30px;
    width: 150px;
}

.messages-label{
    font-size: 17px;
    margin-right: 10px;
    display: block;
}

.input-for-messages{
    width: 100%;
}

.form-accept-modal{
    display: inline-block;
}

.success-input-border{
    border-color: #46b109;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.error-input-border{
    border-color: #d20b1f;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.manage-order-title{
    font-weight: bold;
    font-size: large;
    padding: 4px;
}

.manage-order-body{
    font-weight: 700;
    font-size: small;
    color: #777;
    padding: 4px;
}
.manage-order-status-online{
    background-color: green;
    padding: 4px 10px;
    color: white;
}

.manage-order-status-offline{
    background-color: red;
    padding: 4px 10px;
    color: white;
}

.my-p-1{
    padding: 1em;
}

.my-hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #eee
}

.my-mb-15{
    margin-bottom: 15px;
}
